<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .error{
    color:red;
    }
</style>
<body>
<i>
    Fill In the Form
</i>
<br>
<form th:action="@{/processForm}" th:object="${customer}"  method="post">
First Name : <input type="text" th:field="*{firstName}"  />
    Last Name : <input type="text" th:field="*{lastName}"/>
    <br> <br>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    <br><br>
    <button type="submit" value="submit" >
        Submit
    </button>
</form>
</body>
</html>